*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lora", serif;
  font-size: 100%;
  background-color: wheat;
  background-image: url("./img/fond-2.jpg");
  background-attachment: fixed;
  word-wrap: break-word;
}
a:hover {
  text-decoration: none;
  color: rgb(230, 174, 71);
}
h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 0.2rem;
  color: white;
  margin: 0 auto;

  width: 100%;
  padding: 2%;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}
.lang {
  color: #d6cdcd;
  font-size: 0.7rem;
  min-width: 100%;
  background-color: rgb(11, 6, 34);
  padding: 10px 3px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8vh;
}
.lang a {
  color: #d6cdcd;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}
.lang a:hover {
  color: yellowgreen;
}
a.active {
  color: teal;
}
header {
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.2rem;
  padding-bottom: 1.5vh;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
header a {
  display: block;
  padding: 0 10px 0 10px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
}

main {
  margin: 0 auto;

  width: 80%;
  background-color: rgba(240, 248, 255, 0.7);
  padding: 2% 5% 2% 5%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

#main li {
  list-style-type: circle;
}
#img-div {
  background: white;
  padding-top: 2%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}
figure {
  padding-bottom: 4vh;
}
figcaption {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

#tribute-info {
  background: white;

  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  border-top: 2px solid rgba(240, 248, 255, 0.8);
}
#tribute-info h2 {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#kant-quote {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10vh;
  padding: 15px;
  border-radius: 2px;
}
#kant-quote figcaption {
  text-transform: uppercase;
  text-align: end;
}

blockquote {
  margin: 0;
}
blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

#more-informations {
  width: 100%;
  background: white;
  padding: 0.5rem 0.5rem;
}
#more-informations p {
  text-align: center;
}

#more-informations a {
  font-size: 1.2rem;

  color: black;
}
#more-informations a:hover {
  color: brown;
}

footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer .credit {
  width: 100%;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .credit p {
  text-align: center;
  padding: 0.5rem 0.5rem;
}

footer a {
  color: white;
}

li {
  margin-bottom: 0.8rem;
}
/** ombres des boites***/
#img-div,
#tribute-info {
  box-shadow: 1px 1px 10px rgba(63, 62, 62, 0.698);
}
h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}
/*******************************/

/**********menu responsive*************************/
.icon {
  font-size: 2rem;
  background: #000;
  width: 10%;
  display: none;
}
.icon:hover {
  background: white;
  color: black;
}
@media screen and (max-width: 1100px) {
  header nav {
    margin-left: 5%;
  }
  header nav a {
    width: 100%;
  }
  header nav:last-child {
    padding-bottom: 5vh;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 470px) {
  header,
  #title,
  #main,
  footer {
    width: 100%;
  }
  #kant-quote figure {
    float: left;
    font-size: 1rem;
    text-align: center;
  }
  #kant-quote figure figcaption {
    font-size: 1rem;
    text-align: center;
  }
  #kant-quote figure::after {
    clear: both;
  }

  section {
    padding: 15px;
  }
  #kant-quote {
    padding: auto;
  }
}
